<!-- aqui consta apenas o header -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="../../public/css/header.css">
 </head>
 <body>
    <header>
        <div class="logo-fatec">
            <img src="../../public/imgs/logo fatec.png" alt="" class="logo-fatec-foto">
        </div>
        <div class="redes-sociais-icons">
            <a href="#"><img src="../../public/imgs/flickr.png" alt="Flickr"></a>
            <a href="#"><img src="../../public/imgs/linkedin.png" alt="Linkedin"></a>
            <a href="#"><img src="../../public/imgs/tiktok.png" alt="Tiktok"></a>
            <a href="#"><img src="../../public/imgs/youtube.png" alt="Youtube"></a>
            <a href="#"><img src="../../public/imgs/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="../../public/imgs/istagram.png" alt="Instagram"></a>
            <a href="#"><img src="../../public/imgs/facebook.png" alt="Facebook"></a>
            <a href="#" class="governo"><p>/governosp</p></a>
        </div>
        
    </header>
 
