.container-project-card {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza o card */
    padding: 20px; /* Espaçamento lateral */
  }
  
  .card-project-minimizado {
    display: flex;
    align-items: center;
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    justify-content: flex-start;
    max-width: 1200px; /* Limita o tamanho máximo do card */
    width: 100%; /* Ele se adapta dentro do limite */
    min-height: 200px;
  }
  
  
  .project-img img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .infos-proj {
    flex-grow: 1;
    margin-top: 0;
  }
  
  .top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .nome {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #808080;
  }

  .titulo-e-turma {
    display: flex;
    flex-direction: column;
  }
  
  
  .turma {
    font-size: 18px;
    color: #808080;
    margin: 2px 0 0;
  }
  
  .members img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
    border: 2px solid white;
  }

  .members {
    margin-top: 10px;
    display: flex;
  }
  
  .acoes {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; /* Ajuda no responsivo se ficar apertado */
  }

  .status {
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 6px;
    font-weight: 600;
  }
  
  .status.ativo {
    background-color: white;
    color: #61C454;
    border: 2px solid #61C454;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
  }
  
  .editar {
    background-color: #F4BD50;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 100px;

  }
  
  .deletar {
    background-color: #B20000;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 100px;

  }
  
  .expandir img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: auto;
  }
  